#imageboard{
  border:none;
  height: 100%;
  width:50%;
  position:fixed;
  top:0px;
  left:0px;}
#toolbar{
  height:5%;
  width:50%;
  position:fixed;
  top:0px;
  left:50%;
}
#graph{
  height:95%;
  width:50%;
  position:fixed;
  top:5%;
  left:50%;
}
